.App {
  text-align: center;
}

.hide{
  display: none;
}

.blue{
  background-color: rgb(0, 0, 255);
  color: white;
}

.list{
  width: 30vh;
  margin: auto;
}

.listItem{
  border: 1px solid black;
  border-radius: 4px;
}

.taskDiv{
  display: flex;
  justify-content: space-around;
  margin: 2rem;
  border-bottom: 2px solid black;
  padding: 0 1rem;
}

.taskDivItem{
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: 2s;
  transition: 1s;
}

.taskDivItem:hover{
  background-color: blue;
  color: white;
  border-radius: 1rem;
}

.taskDivItem:active{
  background-color: blue;
  color: white;
}